{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

<!-- section 1 services -->
<section>
    <div class="container custom_container">
        <div class="row">
			<!-- section part 1 -->
            <div class="col-sm-6 col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="sr-icons" src="img/icons/fill-1@3x.png">
                    <p class="service_text"> Health Coach </p>
                </div>
            </div>

            <!-- section part 2 -->
            <div class="col-sm-6 col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="sr-icons" src="img/icons/page-1@3x.png">
                    <p class="service_text"> Consultas <br> presenciales y online </p>
                </div>
            </div>

            <!-- section part 3 -->
            <div class="col-sm-6 col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="sr-icons" src="img/icons/group-37@3x.png">
                    <p class="service_text"> Educadora en <br> Diabetes </p>
                </div>
            </div>

            <!-- section part 4 -->
            <div class="col-sm-6 col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="sr-icons" src="img/icons/group-36@3x.png">
                    <p class="service_text"> Nutrición <br> deportiva </p>
                </div>
            </div>
        </div>
    </div>
</section> <!-- /section 1 services -->

<!-- section 2 testimonals -->
<section id="testimonials" class="testimonials bg-primary">
    <div class="container">
    	<div class="row">
    		<div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2 text-center tm_content">
    			<h1 class="tm_title"> Algunos de nuestros clientes </h1>
            </div>

            <div class="row">
                <div class="col-md-4 col-lg-4 tm_1">
                	<div class="thumbnail">
	                	<div class="user_img">
		                	<img class="img img-responsive thumb-img" src="img/testimonials/group-6@3x.png">
		                </div>
	                	<div class="caption">
	                		<h2 style="text-align: center;"> Mario Hernández </h2>
	                		<p class="sub_caption" style="text-align: center;"> “Increíble el servicio <br> fue lo mejor que he <br> hecho por mi” </p>
	                	</div>
	                </div>
                </div>
	    		
	    		<div class="col-md-4 col-lg-4 tm_1">
                	<div class="thumbnail">
	                	<div class="user_img">
		                	<img class="img img-responsive thumb-img" src="img/testimonials/group-5@3x.png">
	                	</div>
	                	<div class="caption">
	                		<h2 style="text-align: center;"> Alejandro Moreno </h2>
	                		<p class="sub_caption" style="text-align: center;"> “Increíble el servicio <br> fue lo mejor que he <br> hecho por mi” </p>
	                	</div>
	                </div>
                </div>

                <div class="col-md-4 col-lg-4 tm_1">
                	<div class="thumbnail">
	                	<div class="user_img">
		                	<img class="img img-responsive thumb-img" src="img/testimonials/group-7@3x.png">
	                	</div>
	                	<div class="caption">
	                		<h2 style="text-align: center;"> Victoria Landa </h2>
	                		<p class="sub_caption" style="text-align: center;"> “Increíble el servicio <br> fue lo mejor que he <br> hecho por mi” </p>
	                	</div>
	                </div>
                </div>
            </div>
    	</div>
   	</div>
</section> <!-- /section 2 testimonals -->

<!-- section 3 gallary -->
<section class="gallary">
    <div class="container">
    	<div class="row">
    		<div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2 text-center blog_content">
    			<h1 class="gallary_title"> Últimas recetasCursos </h1>
                <h3 class="sub_heading"> Conoce las diferentes y fáciles recetas que te puedes <br> hacer en cualquier momento del día </h3>
            </div>
        </div>
    </div>

    <div class="container-fluid gallary_area">
    	<div class="row">
		    <div class="class="col-lg-12 col-md-12 full-width-img">
		    	<img src="img/bg-img/rectangle-4@3x.png">
		    </div>
		</div>
	</div>

	<div class="container">
	    <div class="more_btn">
	    	<button class="btn btn-xl-more btn-primary"> <a class="link_morebtn" href="#more" style="color: white;"> Ver más </a> </button>
	    </div>
    </div>
		
</section> <!-- /section 3 testimonals -->

<!-- section 4 blog_post -->
<section class="blog_post" id="blogs">
	<div class="container blog_container">
    	<div class="row">
    		<div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2 text-center blog_content">
    			<h1 class="blog_title"> Blogposts destacados </h1>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3 blog_section">
                	<div class="blog_wrapper">
	                	<div class="blog_img">
		                	<img class="img img-responsive" src="img/blog/group-14@3x.png">
		                	<h4 class="blog_caption" style="text-align: center;"> ¿Cuál es el mejor <br> aceite para cocinar? </h4>
		                </div>
	                </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 blog_section">
                	<div class="blog_wrapper">
	                	<div class="blog_img">
		                	<img class="img img-responsive" src="img/blog/group-15@3x.png">
		                	<h4 class="blog_caption" style="text-align: center;"> La importancia del <br> desayuno </h4>
		                </div>
	                </div>
                </div>

                <div class=" col-sm-6 col-md-3 col-lg-3 blog_section">
                	<div class="blog_wrapper">
	                	<div class="blog_img">
		                	<img class="img img-responsive" src="img/blog/group-16@3x.png">
		                	<h4 class="blog_caption" style="text-align: center;"> ¡Comer con culpa <br> engorda! </h4>
		                </div>
	                </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 blog_section">
                	<div class="blog_wrapper">
	                	<div class="blog_img">
		                	<img class="img img-responsive" src="img/blog/group-17@3x.png">
		                	<h4 class="blog_caption" style="text-align: center;"> El Omega 3 protege <br> tu corazón </h4>
		                </div>
	                </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- /section 4 blog_post -->

<!-- section 5 packages -->
<section class="packages">
	<div class="container pack_container">
    	<div class="row">
    		<div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2 text-center pack_content">
    			<h1 class="pack_title"> Paquetes de sesiones </h1>
    			<h3 class="sub_heading"> Contamos con diferentes maneras para <br> ayudarte a mejorar tu alimentación </h3>
            </div>
            <div class="package_btn">
		    	<button class="btn btn-xl-more btn-primary"> <a class="package_session_btn" href="#more" style="color: white;"> Ver más </a> </button>
		    </div>
        </div>
    </div>
</section>
{% endblock %}