<!-- footer -->
<footer class="bg-footer">
	<div class="footer_logo">
		<img class="logo_img" src="img/footer-img/group-20@3x.png">
	</div>
	<div class="container footer">
		<div class="row">
			<div class="col-md-4 col-lg-4 left_widget">
				<p class="text_wg"> Síguenos en: </p>
				<a href="#"><img class="footer_icon" src="img/icons/icon@3x.png"> </a>
				<a href="#"><img class="footer_icon" src="img/icons/group-3@3x.png"> </a>
			</div>
			<div class="col-md-4 col-lg-4 center_widget">
				<div class="wg_main">
					<img class="footer_icon2" src="img/footer-img/logo-bco-08@3x.png">
					<p class="footer_caption">  © Alejandra Gutiérrez 2017 todos los <br> derechos reservados </p>
				</div>
			</div>
			<div class="col-md-4 col-lg-4 right_widget">
				<div class="form_head">
					<p class="subscribe"> Suscríbete a nuestro Newsletter </p>
				</div>
				<div class="footer_form">
					<form class="form footer_form">
						<div class="input_text">
							<input type="form_sub" class="form-control1" id="correo" placeholder="Correo electrónico">
						</div>
						<!-- <div class="input_btn">
					    	<button type="submit" class="btn btn-default btn-xl-subs"> Suscribirme </button>
					    </div> -->
					</form>
				</div>
			</div>
		</div>
	</div>
</footer>
