/* slider css */
.carousel-indicators {
	display none
}
.carousel-inner{
	/* background-image url('../img/slider/group-3@3x.png') */
	background-size cover
	
	.carousel-caption{
		text-align left
		text-shadow 0px 0px 0px !important
		right 0%
		bottom 240px
		left 10%
		width 50%

		.banner_text{
			font-size 72px
			margin 4px 0px
			color white
			font-family 'FuturaStd-Medium'
		}
		.sub_head{
			font-size 42px
			margin-bottom 30px
			font-family 'FuturaStd-Medium'
			margin-top 18px
		}
		.read_more_btn{
			background-color transparent
			padding 11px 38px
			font-size 20px
			border 4px solid white
			border-radius 0px
			font-family 'Montserrat-Regular'
		}
		.read_more_btn:hover{
			background-color $orange
		}
	}
}
.carousel-control{
	width 0px !important
	opacity 1

	.glyphicon {
		position relative
		top 315px

		.glyph_l{
			width 40px
			height 40px
		}
	}

	.glyph_right{
		left -174px
	}
	.glyph_left{
		left 100px
	}
}
.carousel-control.left, .carousel-control.right {
   background-image none !important
   filter none !important
}
.nav_container {
	width auto
	font-family 'Montserrat-Regular'
}

/* navbar css */
.navbar-toggle{
	display none
}
.navbar {
	background-color $orange
	border 0px none !important
	border-radius 0px
	
	.navbar-header {
		position relative
		left 615px
		bottom 70px
		
		.navbar-brand {
			padding 12px 15px
		}
	}
	.navbar-nav{
		width 100%
		text-align center
		
		li{
			padding 0 8px 16px
			float none
			display inline-block
			a {
				color white
				font-size 22px
			}
		}
	}
}

/* mobile-responsive */
@media only screen and (max-width: 769px){

/* navbar css */
	.navbar-toggle{
		display block
	}
	.navbar {
		.navbar-header {
			position unset

			.navbar-brand {
				height auto
				padding 0px 0px

				img {
					display block
					height 55px
					margin-left 20px
				}
			}

			.navbar-toggle {
				float right
				padding 9px 23px
				margin-right 22px
			}
		}

		.navbar-nav {
			margin 0px
			text-align left

			li{
				display block
				padding 0px
			}
		}
	}

	/* slider css */
	.carousel-control {
		.glyphicon {
			position relative
			top 100px

			.glyph_l {
				width 32px
				height 28px
			}
		}

		.glyph_left {
			left 0px
		}

		.glyph_right {
			left -58px
		}
	}
}

@media only screen and (max-width: 468px){
/* slider css */
	.carousel-inner {
		
		.carousel-caption {
			right 0
			bottom 12px

			.banner_text {
				font-size 16px
			}

			.sub_head {
				font-size 11px
				margin 8px 0px
			}

			.read_more_btn {
			    padding 6px
			    font-size 9px
			}
		}
	}
}

@media only screen and (min-width: 468px) and (max-width: 768px){
	/* slider css */
	.carousel-inner {
		
		.carousel-caption {
			right 0
			bottom 50px

			.banner_text {
				font-size 30px
			}

			.sub_head {
				font-size 18px
				margin 8px 0px
			}

			.read_more_btn {
			    padding 6px
			    font-size 13px
			}
		}
	}
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
/* navbar css */
.navbar{
	 
	 .navbar-header {
		position relative
		left 360px
	}
}
/* slider css */
	.carousel-inner {
		
		.carousel-caption {
			right 0
			bottom 50px

			.banner_text {
				font-size 40px
			}

			.sub_head {
				font-size 25px
				margin 8px 0px
			}

			.read_more_btn {
			    padding 6px
			    font-size 17px
			}
		}
	}

	.carousel-control {
		
		.glyphicon {
			position relative
			top 177px
		}
		
		.glyph_left {
			left 34px
		}

		.glyph_right {
			left -116px
		}
	}
}