
@font-face {
	font-family: 'Colaborate-Regular';
	src: local('../fonts/Colaborate-Regular'), url('../fonts/Colaborate-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Colaborate-Medium';
	src: local('../fonts/Colaborate-Medium'), url('../fonts/Colaborate-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaStd-Book';
	src: local('../fonts/FuturaStd-Book'), url('../fonts/FuturaStd-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaStd-Medium';
	src: local('../fonts/FuturaStd-Medium'), url('../fonts/FuturaStd-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaStd-Bold';
	src: local('../fonts/FuturaStd-Bold'), url('../fonts/FuturaStd-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Regular';
	src: local('../fonts/Montserrat-Regular'), url('../fonts/Montserrat-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
