// Uncomment if you want to use bootstrap
// @import 'bootstrap/normalize'
// @import 'bootstrap/grid'
// @import 'bootstrap/responsive-utilities'
// @import 'bootstrap/utilities'
// @import 'bootstrap/responsive-embed'

.cover
  background-position center
  background-size cover

.simple-parallax
  background-attachment fixed
