// COLORS
$orange = #ED7161
$lightGrey = #9B9B9B
$bgcolor = #F5F5F5
$darkGrey = #4a4a4a
$borderColor = #e5e5e5
$placeholder = #b0bec5

// Font weights
$thin = 100
$hairline = $thin 
$extralight = 200
$ultralight = $extralight
$light = 300
$normal = 400
$regular = $normal
$medium = 500
$semibold = 600
$demibold = $semibold
$bold = 700
$extrabold = 800
$ultrabold = $extrabold
$black = 900
$heavy = $black